@model BibliotecaAdmi.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editoral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editoral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutotNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAutotNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
